@use "../variables";
@use "sass:color";

.footer {
  background-color: #222222;
  color: #e6d198;
  padding: 1rem 12rem;

  &__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__link {
    color: #e6d198;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    font-size: 1.5rem;

    &:hover {
      color: color.adjust(#e6d198, $lightness: 10%);
      transform: scale(1.2);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 2rem;
  }

  &__contact {
    flex: 1;
    min-width: 250px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 2rem;
  }

  &__info {
    margin: 5px 0;
    font-size: 1.5rem;
  }
  & .footer__divider {
    border: none;
    border-top: 2px solid #444;
    width: 100%;
    margin: 2rem 0 1.5rem;
  }

  &__form-section {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    & .footer__form-text {
      font-size: 1.5rem;
      text-align: left;
    }

    & .footer__form {
      display: flex;
      gap: 10px;

      & .footer__input {
        width: 250px;
        padding: 10px 15px;
        border: 1px solid #e6d198;
        border-radius: 4px;
        background: transparent;
        color: #e6d198;
        font-size: 1.5rem;

        &::placeholder {
          color: #e6d198;
          opacity: 0.8;
        }
      }

      & .footer__button {
        padding: 10px 20px;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 4px;
        border: none;
        background-color: #e6d198;
        color: #222222;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: color.adjust(#e6d198, $lightness: 10%);
        }
      }
    }
  }

  &__bottom {
    text-align: center;
  }

  &__copy {
    font-size: 1.3rem;
  }

  &__policy {
    color: #e6d198;
    text-decoration: none;
    margin-left: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1184px) {
  .footer {
    padding: 3.25rem 1.25rem;
  }
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__form-section {
    align-items: stretch;

    & .footer__form-text {
      text-align: left;
    }

    & .footer__form {
      flex-direction: column;

      & .footer__input {
        width: 100%;
      }
    }
  }
}

/* Visually hidden label */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.animate__once {
  animation-iteration-count: 1 !important;
}
