<header class="header">
  <a href="index.html" class="header__logo">
    <img src="assets/images/logo-white.webp" alt="Mi Logo" />
  </a>
  <a href="index.html" class="header__logo--black">
    <img src="/src/assets/images/logo-black.webp" alt="Mi Logo" />
  </a>

  <div class="header__menu-button"></div>

  <nav class="header__navigation">
    <div class="header__navigation-items">
      <a class="header__navigation-link" href="index.html">Inicio</a>
      <a class="header__navigation-link" href="#proyecto">Proyecto</a>
      <a class="header__navigation-link" href="#entorno">Entorno</a>
      <a class="header__navigation-link" href="#equipo">Equipo</a>
      <a class="header__navigation-link" href="#contacto">Contacto</a>
      <a class="header__navigation-link" href="#">Login</a>
      <!-- <div class="header__languages">
            <a href="" class="header__navigation-link">ES</a
            ><a href="" class="header__navigation-link">CA</a
            ><a href="" class="header__navigation-link">EN</a
            ><a href="" class="header__navigation-link">RU</a
            ><a href="" class="header__navigation-link">FR</a>
          </div>-->
    </div>
  </nav>
</header>
