<header class="header">
  <a href="index.html" class="header__logo--white">
    <img src="/src/assets/images/logo-white.png" alt="Mi Logo" />
  </a>
  <a href="index.html" class="header__logo--black">
    <img src="/src/assets/images/logo-black.webp" alt="Mi Logo" />
  </a>

  <nav class="header__navigation">
    <div class="header__navigation-items">
      <a class="header__navigation-link" href="index.html">Inicio</a>
      <a class="header__navigation-link" href="#proyecto">Proyecto</a>
      <a class="header__navigation-link" href="#entorno">Entorno</a>
      <a class="header__navigation-link" href="#equipo">Equipo</a>
      <a class="header__navigation-link" href="#contacto">Contacto</a>
      <a class="header__navigation-link" href="#">Login</a>
    </div>
  </nav>

  <!-- Social icons-->
  <div class="header__social">
    <a href="#" class="header__social-link">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="header__social-link">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="header__social-link">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="header__menu-button"></div>
</header>
