@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f3f2f2 80%, #d6d4d4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 2.2em;
}

a {
  text-decoration: none;
  color: v.$text-dark;
}
