@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}
body {
  background-color: blanchedalmond;
}

p {
  font-size: 2.2em;
}

a {
  text-decoration: none;
  color: v.$text-dark;
}
