@use "sass:color";

$primary-color: #2696e9;
$overlay-color: rgba(3, 96, 251, 0.3);
$text-color: #fff;
$text-dark: #222;
$btn-color: #fff;
$btn-text-color: rgb(5, 65, 65);
$transition-speed: 0.3s;
$color-bg: #222222;
$color-gold: #e6d198;
$color-bg: #ffffff;
$accent: #f5c542;
$radius: 12px;
$shadow: 0 8px 30px rgba(34, 34, 34, 0.08);
